doctype html
html(lang='es-AR')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='eQuestionnaire, ¡Encuestas online!')
        title eQuestionnaire
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            h1= survey.questionnaire.title
            p
                small
                    | Start date #{start_date} - End date #{end_date} - Effective days #{survey.effective_days} - Send by #{survey.user.first_name} #{survey.user.last_name}
            p= survey.questionnaire.purpose
        div    
            ol
                each question in survey.questionnaire.questions
                    li 
                        p= question.query
                        case question.question_type
                            when 2
                                p Select one option
                                ul
                                    each choice in question.choices
                                        li
                                            label(for=choice._id)
                                                input(type='radio', name=question._id, id=choice._id, value=choice._id)
                                                |#{choice.value}
                            when 3
                                p Select one or many options
                                ul
                                    each choice in question.choices
                                        li 
                                            label(for=choice._id)
                                                input(type='checkbox', name=question._id, id=choice._id, value=choice._id)
                                                |#{choice.value}
                            default
                                p Write your answer
                                    textarea(name=question._id)
        div
            button(type='button') Submit